body{
	font-family: 'Roboto', sans-serif;
}

.nav{
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin-right: 5%;
}
.navb{
	font-family: 'Roboto';
	font-size: x-large;
	height: 100%;
	float: left;
	width: 25%;
	text-decoration: none;
	text-align: center;
	padding-top: 0.5%;
	color: black;
}
.navb:hover{
	background-color: #018acc;
	transition: .2s;
}
.navb.ac{
	background-color: #014e73;
	color: #07a6f3;
	transition: .3s;
}
.tituloc{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 25px;
}

.titulo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	text-align: center;
}
.conten{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
}
.GridCon{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	display: grid;
	grid-template-columns: 30% 70%;
    grid-column-gap: 2%;
	grid-row-gap: 10%;
}
.Gridh{
	width: 95%;
	height: 22%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	display: grid;
	grid-template-columns: 20% 80%;
    grid-column-gap: 2%;
	grid-row-gap: 10%;
}
.Gridcont{
	width: 95%;
	height: 73%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
	margin-bottom: 5%;
	display: grid;
	grid-template-columns: 20% 80%;
    grid-column-gap: 2%;
	grid-row-gap: 10%;
}
.Gridcont2{
	width: 95%;
	height: 73%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
	margin-bottom: 5%;
	display: grid;
	grid-template-columns: 20% 80%;
    grid-column-gap: 2%;
	grid-row-gap: 10%;
}
.Perfil{
	height: 360px;
	width: 60%;
	margin-top: auto; 
	margin-bottom: auto;
	margin-left: 40%;
	border-radius: 10px;
	
}
.Gridc{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 40% 60%;
    grid-column-gap: 2%;
	grid-row-gap: 10%;
	
}.Gridm{
	display: grid;
	grid-template-columns: 80% 20%;
	width: 100%; 
	margin-right: auto; 
	margin-top: 1%;
}
.btt{
	width: 90%; 
	height: 5%;
	background-color: #014e73;
	color: #07a6f3;
	border: none;
	margin-bottom: 1%;
	font-size: 18px;
	transition: .2s;
}
.btt.sele{
	background-color: #07a6f3;
	color: #014e73;
	transition: .2s;
}
.logoi{
	height: 95%;
	width: 100%; 
	margin-top: 0.5%;
	margin-left: 15%;
}
.lema{
	margin-top: 4%; 
	margin-left: 25%;
	font-size: 28px;
	text-align: justify;
	color: #016495;
}
.intro{
	height:45%; 
	margin-left: auto; 
	margin-right: auto;
	width: 98%;
	font-size: 28px;
	text-align: justify;
}
.headr{
	height: 90%;
	width: 10%;
	margin-top: 0.5%;
	margin-left: 5%;
	border-radius: 10px;
}
.footr{
	padding-top: 1%;
	color: #014e73;
	font-size: 22px;
	padding-left: 2%;
	background-color: #07a6f3;
	position: relative;
	height: 5%;
	width: 98%;
	bottom: 0;
}
.img1{
	margin-top: 15%;
	margin-left: 50%;
	height: 40%;
	width: 23%;
}
.img2{
	margin-left: 50%;
	height: 100%;
	width: 20%;
}
.quient{
	margin-top: 3%;
	text-align: center;
	font-size: 33px;
	color: #016495;
}
/* Responsive */
@media screen and (max-width: 1200px){
	.Perfil{
		width: 85%;
		margin-left: 15%;
	}
	.quienp{
		font-size: 23px;
	}
	.quiend{
		font-size: 19px!important;
	}
	.quient{
		font-size: 31px!important;
	}
}
@media screen and (max-width: 1190px){
	.homep p{
		font-size: 25px;
	}
	.Gridh{
		height: 23%;
	}
	.lema{
		margin-left: 20%;
	}
	.intro{
		height: 52%;
	}

}
@media screen and (max-width: 1050px){
	.contactp p{
		font-size: 18px;
	}
	.lemac1{
		margin-left: 13%!important;
	}
	.lemac p{
		font-size: 24px;
	}
	.img1{
		height: 30%;
	}
	.img2{
		height: 80%;
	}
	.contlo{
		width: 120%!important;
		height: 35%!important;
		margin-left: 5%!important;
		margin-top: 100%!important;
	}
}
@media screen and (max-width: 1000px){
	.quienp{
		font-size: 21px;
	}
	.quiend{
		font-size: 17px!important;
	}
	.quient{
		font-size: 29px!important;
	}
	.Perfil{
		width: 85%;
		margin-left: 15%;
	}
}
@media screen and (max-width: 945px){
	.homep p{
		font-size: 23px;
	}
	.Gridh{
		height: 23%;
	}
	.lema{
		margin-left: 15%;
	}
	.logoi{
		height: 90%;
		margin-left: 5%;
		width: 110%;
	}
	.conten{
		font-size: 18px;
	}
	.Gridc{
		margin-left: 0%;
		width: 100%;
	}
	.titulo{
		font-size: 35px;
	}
	.tituloc{
		font-size: 22px;
	}
	.btt{
		font-size: 15px;
	}
}
@media screen and (max-width: 847px){
	.Gridh{
		height: 25%;
	}
	.logoi{
		height: 85%;
		margin-left: 0%;
		width: 130%;
	}
	.navb{
		font-size: 21px;
		padding-top: 2%;
	}
	.headr{
		width: 15%;
		height: 75%;
		padding-top: 2%;
	}
	.footr{
		font-size: 22px;
		padding-top: 3%;
	}
	.quienp{
		font-size: 19px;
	}
	.quiend{
		font-size: 15px!important;
	}
	.quient{
		font-size: 27px!important;
	}
	.Perfil{
		height: 260px;
		width: 95%;
		margin-left: 5%;
	}
}
@media screen and (max-width: 810px){
	.contactp p{
		font-size: 17px;
	}
	.lemac1{
		margin-left: 13%!important;
	}
	.lemac{
		margin-left: 15%!important;
	}
	.lemac p{
		font-size: 22px;
	}
	.img1{
		height: 35%;
		width: 40%;
		margin-left: 30%;
		margin-top: 30%;
	}
	.img2{
		height: 80%;
		width: 40%;
		margin-left: 30%;
	}
	.contlo{
		width: 130%!important;
		height: 25%!important;
		margin-left: 10%!important;
		margin-top: 150%!important;
	}
	.Gridcont2{
		width: 80%;
		margin-left: 5%;
	}
	.conten{
		font-size: 16px;
	}
	.titulo{
		font-size: 32px;
	}
	.tituloc{
		font-size: 20px;
	}
	.btt{
		font-size: 15px;
	}
}
@media screen and (max-width: 746px){
	.homep p{
		font-size: 21px;
	}
	.Gridh{
		height: 22%;
	}
	.lema{
		margin-left: 5%;
	}
	.logoi{
		height: 85%;
		margin-left: 0%;
		width: 130%;
	}
	.navb{
		font-size: 20px;
		padding-top: 0.5%;
	}
	.headr{
		width: 20%;
		height: 75%;
		padding-top: 3%;
	}
	.footr{
		font-size: 20px;
		padding-top: 5%;
	}
}
@media screen and (max-width: 670px){
	.lemac{
		margin-left: 10%!important;
	}
	.lemac p{
		font-size: 20px;
	}
	.contlo{
		margin-top: 170%!important;
	}
	.conten{
		font-size: 14px;
	}
	.titulo{
		font-size: 28px;
	}
	.tituloc{
		font-size: 18px;
	}
	.btt{
		font-size: 13px;
	}
}
@media screen and (max-width: 625px){
	.homep p{
		font-size: 19px;
	}
	.Gridh{
		height: 20%;
	}
	.lema{
		margin-left: 7%;
	}
	.logoi{
		height: 80%;
		margin-left: 0%;
		width: 130%;
		padding-top: 25%;
	}
	.navb{
		font-size: 16px;
		padding-top: 2%;
	}
	.headr{
		width: 25%;
		height: 80%;
		padding-top: 3%;
	}
	.footr{
		font-size: 18px;
		padding-top: 3%;
	}
	.Gridcont2{
		width: 70%;
	}
	.contactp p{
		font-size: 16px;
	}
	.lemac p{
		font-size: 20px;
	}
	.img1{
		height: 33%;
		margin-top: 50%;
	}
	.img2{
		height: 75%;
	}
	.quienp{
		font-size: 17px;
	}
	.quiend{
		font-size: 13px!important;
	}
	.quient{
		font-size: 25px!important;
	}
	.Perfil{
		height: 200px;
		width: 115%;
		margin-left: -15%;
	}
}
@media screen and (max-width: 520px){
	.contactp p{
		font-size: 15px;
	}
	.lemac1{
		margin-left: 18%!important;
	}
	.lemac{
		margin-left: 15%!important;
	}
	.lemac p{
		font-size: 18px;
	}
	.img1{
		height: 30%;
		width: 43%;
		margin-top: 60%;
	}
	.img2{
		height: 70%;
		width: 40%;
	}
	.contlo{
		width: 140%!important;
		height: 20%!important;
		margin-left: 5%!important;
		margin-top: 300%!important;
	}
	.Gridcont2{
		width: 85%;
		margin-left: 1%;
	}
	.conten{
		font-size: 13px;
	}
	.titulo{
		font-size: 25px;
	}
	.tituloc{
		font-size: 16px;
	}
	.btt{
		font-size: 11px;
	}
}
@media screen and (max-width: 510px){
	.homep p{
		font-size: 16px;
		margin-left: 1%;
		margin-right: 1%;
	}
	.Gridh{
		height: 20%;
	}
	.lema{
		margin-left: 4%;
	}
	.logoi{
		height: 75%;
		margin-left: 0%;
		width: 130%;
		padding-top: 35%;
	}
	.navb{
		font-size: 16px;
		padding-top: 1.5%;
	}
	.headr{
		width: 25%;
		height: 80%;
		padding-top: 3%;
	}
	.footr{
		font-size: 15px;
		padding-top: 4%;
	}
	.intro{
		height: 50%;
	}
	
}

@media screen and (max-width: 1240px){
	.intro{
		height: 50%;
	}
}
@media screen and (max-width: 972px){
	.intro{
		height: 53%;
	}
}
@media screen and (max-width: 660px){
	.intro{
		height: 49.8%;
	}
}
@media screen and (max-width: 510px){
	.intro{
		height: 50%;
	}
}